.navs {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 300000px;




}

.big {
    color: black;
}

.btn {
    margin-bottom: 10px;
    height: 70px;
    width: fit-content;
    background-color: green;
    border-radius: 5px;
    border: 2px;
    color: white;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 10px;
}

.btn:hover {
    background-color: chartreuse;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: blue;
}

.bold {
    font-weight: 500;
}

a {
    font-weight: 100;
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: 900;
}